header{
    background-color: crimson;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    
}

h1{
    padding: 1rem ;
    margin: 1rem;
}



a:hover{
font-size: larger;

}